<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>AppleIntelPCHPMC</string>
	<key>BuildVersion</key>
	<string>847</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleVersion</key>
	<string>2.0.1</string>
	<key>ProjectName</key>
	<string>AppleIntelPCHPMC</string>
	<key>SourceVersion</key>
	<string>5250001000000</string>
</dict>
</plist>
